<div class="form-group row">
  <%= form.label :email, class: "col-sm-2 col-form-label"  %>
  <div class="col-sm-3">
    <%= form.text_field :email, type: 'Email', class: "form-control" %>
  </div>
</div>

<div class="form-group row">
  <%= form.label :password, class: "col-sm-2 col-form-label"  %>
  <div class="col-sm-3">
    <%= form.password_field :password, class: "form-control" %>
  </div>
</div>

<div class="submit-field">
  <%= form.submit "Login", class: "btn btn-primary" %>
</div>